# Variáveis de Ambiente para o Projeto
# Caminhos principais (padrões definidos em settings.py caso não especificados)
DATA_PATH=data/
MODEL_PATH=models/
LOGS_PATH=logs/

# Parâmetros de Treinamento
EPOCHS=50
BATCH_SIZE=32
LEARNING_RATE=0.001

# Configurações de Imagem
IMAGE_WIDTH=200
IMAGE_HEIGHT=50
